textract==1.6.3
requests==2.22.0
Flask==1.1.1
gensim==3.8.0
sklearn==0.0
PyPDF2==1.26.0
autocorrect==0.4.4
nltk==3.4.5
contractions==0.0.21
textsearch==0.0.17
inflect==2.1.0
numpy==1.17.2
pdfminer.six==20181108
